@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-size: 1rem;
}

.main {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0e8ff;
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  max-width: 330px;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card__img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.card__textbox {
  padding: 24px;
}

.card__title {
  letter-spacing: 0.1px;
  font-size: 22px;
  font-weight: 900;
  color: #1f2f56;
}

.card__description {
  font-size: 15px;
  letter-spacing: 0.08px;
  line-height: 25px;
  margin-block: 20px;
  padding-inline: 15px;
  color: #7280a7;
}

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-block: 23px;
  background-color: #f5f7ff;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__btn {
  display: block;
  width: 100%;
  padding: 14px;
  letter-spacing: 0.2px;
  font-size: 14px;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pricetext {
  color: #1f2f56;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
  margin-left: 0px;
  margin-right: auto;
}

.pricetext__nominal {
  display: block;
  font-weight: 500;
  color: #7280a7;
}

.pricetext__change {
  font-size: 14px;
  font-weight: 700;
  color: #3829e0;
  -webkit-transition: opacity 0.3 ease;
  transition: opacity 0.3 ease;
}

.pricetext__change:hover {
  text-decoration: none;
  opacity: 0.7;
}

.btn-primary {
  background-color: #3829e0;
  color: white;
  -webkit-box-shadow: 0px 8px 12px 5px rgba(56, 41, 224, 0.2);
          box-shadow: 0px 8px 12px 5px rgba(56, 41, 224, 0.2);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.btn-primary:hover {
  opacity: 0.7;
}

.btn-secondary {
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 5px;
  background-color: transparent;
  color: #7280a7;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.btn-secondary:hover {
  color: #1f2f56;
}

.attribution {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.attribution a {
  color: #3829e0;
  text-decoration: none;
}

@media only screen and (min-width: 1440px) {
  .main {
    background-image: url("../images/pattern-background-desktop.svg");
  }
  .card {
    max-width: 450px;
  }
  .card__title {
    font-size: 28px;
  }
  .card__description {
    font-size: 16px;
  }
  .card__textbox {
    padding: 48px;
  }
  .card__price {
    padding: 25px;
  }
  .pricetext {
    font-size: 16px;
  }
  .pricetext__nominal {
    font-size: 16px;
  }
  .pricetext__change {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */