// * SASS Variable
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$shadow-btn-primary: hsla(245, 75%, 52%, 0.2);

// * Global Styling
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
  }
}

body {
  position: relative;
}

p {
  font-size: 1rem;
}

// * Main Styling
.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $pale-blue;
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

// * Card Styling
.card {
  max-width: 330px;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  margin: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s ease;

  &__img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
  }

  &__textbox {
    padding: 24px;
  }

  &__title {
    letter-spacing: 0.1px;
    font-size: 22px;
    font-weight: 900;
    color: $dark-blue;
  }

  &__description {
    font-size: 15px;
    letter-spacing: 0.08px;
    line-height: 25px;
    margin-block: 20px;
    padding-inline: 15px;
    color: $desaturated-blue;
  }

  // * Price Box Styling
  &__price {
    display: flex;
    margin-block: 23px;
    background-color: $very-pale-blue;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 20px;
    flex-wrap: wrap;
  }

  // * Button Styling
  &__btn {
    display: block;
    width: 100%;
    padding: 14px;
    letter-spacing: 0.2px;
    font-size: 14px;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

// * Price Text Styling
.pricetext {
  color: $dark-blue;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
  margin-left: 0px;
  margin-right: auto;

  &__nominal {
    display: block;
    font-weight: 500;
    color: $desaturated-blue;
  }

  &__change {
    font-size: 14px;
    font-weight: 700;
    color: $bright-blue;
    transition: opacity 0.3 ease;

    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}

// * Primary & Secondary Button Styling
.btn {
  &-primary {
    background-color: $bright-blue;
    color: white;
    box-shadow: 0px 8px 12px 5px $shadow-btn-primary;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &-secondary {
    padding: 0;
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: transparent;
    color: $desaturated-blue;
    transition: color 0.3s ease;

    &:hover {
      color: $dark-blue;
    }
  }
}

// * Footer Styling
.attribution {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  a {
    color: $bright-blue;
    text-decoration: none;
  }
}

// * Desktop Responsive : 1440px
@media only screen and (min-width: 1440px) {
  .main {
    background-image: url("../images/pattern-background-desktop.svg");
  }
  .card {
    max-width: 450px;

    &__title {
      font-size: 28px;
    }

    &__description {
      font-size: 16px;
    }

    &__textbox {
      padding: 48px;
    }

    &__price {
      padding: 25px;
    }
  }

  .pricetext {
    font-size: 16px;

    &__nominal {
      font-size: 16px;
    }

    &__change {
      font-size: 15px;
    }
  }
}
